VITE_API_URL=http://localhost:8000

# From Firebase Console -> Project Settings -> General -> Your apps -> Web app config
VITE_FIREBASE_API_KEY=AIzaSyCoaWynq4GKL4MF1WYSZdisXpwhJzVxj4M
VITE_FIREBASE_AUTH_DOMAIN=prajavaani-3c8e4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=prajavaani-3c8e4
VITE_FIREBASE_APP_ID=1:160551949021:web:7334c2e4d2a0a5b4f24134
