@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  min-height: 100%;
}

body {
  background-color: #FBF8F2;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #D7DDEF; border-radius: 4px; }
